<div class="paginator">
  <p class="page-info">Página {{currentPage + 1}} de {{totalPages}}</p>
  <div class="change-page">
    <ng-container>
      <button (click)="previous('FIRST')"><i class="pi pi-angle-double-left"></i></button>
      <button (click)="previous('PREVIOUS')"><i class="pi pi-angle-left"></i></button>
    </ng-container>
    <section class="buttons">
      <button [ngClass]="{active: i === currentPage}" *ngFor="let i of buttons" (click)="redirectToPage(i)"> {{i + 1}}</button>
    </section>
    <ng-container>
      <button (click)="nextPage('NEXT')"><i class="pi pi-angle-right"></i></button>
      <button (click)="nextPage('LAST')"><i class="pi pi-angle-double-right"></i></button>
    </ng-container>
  </div>
  <section class="page-size-section">
    <div class="change-page-size">
      <p class="text-caption">Linhas por páginas</p>
      <select name="page-option" id="changePageSize" class="select-paginator" [ngModel]="itemsPerPage" (ngModelChange)="selectPageSize($event)">
        <option class="paginator-option" *ngFor="let option of rowsPerPageOptions" [value]="option">{{option}}</option>
      </select>
    </div>
  </section>
</div>
